/*Main*/

*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*NavBar*/
.link{
  margin-left: 30px;
  margin-top: 10px;
  font-weight: 700;
  font-size: small;
  color: gray;
}

.logo{
  height: 70%;
  width: 70%;
}

/*Home*/
.descricao{
  margin-top: 250px;
  margin-left: 150px;
}

.texto{
  color: #444444;
  font-weight: bold;
}

.imagem{
  height: 35%;
  width: 35%;
  margin-top: 6%;
}


.corpo{
  display: flex;
  justify-content: space-between;
}

.namorada{
  color:#ffffff;
}

/*Contact*/

.divemailcontact{
  margin: 30%;
  margin-top: 2%;
  width: 40%;
  height: 550px;
  background: #F1F1F1;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 8px #CCCCCC;
}

.divdatacontact{
  background: #F1F1F1;
  position: absolute;
  width: 250px;
  height: auto;
  margin: 75%;
  margin-top: 2%;
  text-align: center;
  box-shadow: 4px 8px #CCCCCC;
}